            .left .embed-responsive {
                height: 425px;
            }
            
            .detail-video .menu-detail-video a {
                padding: 12px 20px;
                left: 0px;
                top: 0px;
                /* Ink/White */
                background: #FFFFFF;
                border-radius: 10px;
            }
            
            .detail-video .menu-detail-video a:hover {
                background: #FFF9F0;
                box-shadow: 0px 4px 4px #FFE2C2;
                border-radius: 10px;
            }
            
            .detail-video {
                height: 510px;
            }
            
            .menu-detail-video {
                height: 350px;
                overflow: auto;
                scrollbar-width: thin;
                scrollbar-color: var(--thumbBG) var(--scrollbarBG);
            }
            
            .menu-detail-video .list-video .play-pause {
                height: 40px;
                width: 40px;
                background: #EF9C23;
                color: white;
                border: none;
            }
            
            .menu-detail-video::-webkit-scrollbar {
                width: 11px;
            }
            
            .menu-detail-video::-webkit-scrollbar-track {
                background: var(--scrollbarBG);
            }
            
            .menu-detail-video::-webkit-scrollbar-thumb {
                background-color: var(--thumbBG);
                border-radius: 6px;
                border: 3px solid var(--scrollbarBG);
            }
            
            .detail-video .btn-done {
                width: 334px;
                padding: 10px 32px;
                color: white;
                background: #EF9C23;
                border: 1px solid #EF9C23;
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
                border-radius: 13px;
            }
            
            .nav.top-menu .nav-link {
                letter-spacing: -0.5px;
                color: #5E5648;
                text-decoration: none;
                border-bottom: 4px solid #F8F2EE;
                padding: 0;
            }
            
            .nav.top-menu .nav-link:hover {
                color: #3A372F;
                border-bottom: 4px solid #EF9C23;
                text-decoration: cone;
            }
            
            .nav.top-menu .nav-link.active {
                padding: 0;
                border-radius: 0;
                background-color: white;
                color: #3A372F;
                border-bottom: 4px solid #EF9C23;
            }
            
            .nav.top-menu .nav-link h3 {
                font-size: 22px;
            }
            
            .tab-content {
                color: #3A372F;
            }
            
            .form-pengisian {
                height: 422px;
                left: 216px;
                top: 123px;
                background: #FFF9F0;
                box-shadow: 0px 4px 4px #FFE2C2;
                border-radius: 10px;
            }
            
            .form-pengisian input,
            .form-pengisian select,
            .form-pengisian textarea {
                border-radius: 12px;
            }
            
            textarea {
                resize: none;
            }
            
            .btn-posting {
                width: 142px;
                height: 45px;
                color: white;
                background: #EF9C23;
                border: 1px solid #EF9C23;
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
                border-radius: 13px;
            }
            
            .profile-qna h6 {
                color: #3A372F;
                font-size: 18px;
                font-weight: 600;
            }
            
            .comment-qna {
                border-bottom: 2px solid #C4C4C4;
            }
            
            .comment-qna .profile-qna p {
                color: #C4C4C4;
                font-size: 16px;
                line-height: 24px;
                margin-top: -5px;
            }
            
            .comment-qna h5 {
                color: #33312E;
                font-weight: 600;
                font-size: 18px;
                line-height: 32px;
            }
            
            .comment-qna .text-tag {
                color: #EF9C23;
                font-size: 16px;
            }
            
            .comment-qna p {
                color: #33312E;
                font-size: 18px;
                line-height: 24px;
            }
            
            .comment-qna .like-comment i {
                color: #5E5648;
                font-size: 20px;
            }
            
            .comment-qna .like-comment p {
                color: #5E5648;
                font-size: 16px;
            }
            
            .comment-qna .like-comment button.btn {
                padding: 0;
                margin-right: 5px;
            }
            
            .fas.fa-heart.active {
                color: #FF5F5F;
            }
            
            .more .btn-more {
                text-align: start;
                width: 399px;
                height: 60px;
                font-size: 18px;
                font-weight: bold;
            }
            
            .more .btn-more i {
                color: #FFBA55;
                padding: 0 15px;
                font-size: 24px;
            }
            
            .no-item img {
                width: 298px;
                height: 333px;
            }